@import url(reset.css);

@font-face {
  font-family: Aoudax Cyrillic;
  src: url(../fonts/20870.ttf);
}

body {
  font-family: Aoudax Cyrillic;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 980px;
  padding: 0 15px;
  margin: 0 auto;
}

.banner {
  height: 100vh;
}

.banner__inner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__title {
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.banner__image {
  max-width: 100%;
  display: block;
  object-fit: cover;
  height: auto;
  margin-bottom: 20px;
}

.banner__animation {
  width: 56px;
  animation: show 1.5s ease infinite;
}

@keyframes show {
  0% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
  }
}
